{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'estilo.css' %}">
</head>

<body>
    <h1>Sistema de Venda de Livros</h1>
    <p>O projeto tem como objetivo a venda de livros</p>
    <p>Alunos: Lara Gasparotto Roque e Lucas Fornazieri Gonçalves Ferreira</p>

    <h2>Diagrama de Casos de Uso</h2>
    <img src="{% static 'Diagrama de Casos de Uso.jpeg' %}" />

    <h2>Diagrama de Classe</h2>
    <img src="{% static 'Classe UML.jpeg' %}" />

</body>

</html>